$blue: #006cb0;
$light-blue: #09a8eb;
$lagoon-dark: #0087db;
$dark-blue: #00629f;
$lagoon-blue: #6bcbf3;
$body-grey: #eeeff4;
$dark-grey: #a2a2a2;
$text-grey: #444444;
$white: #ffffff;
$green: #ccff00;
$blue-grey-light: #f6fbfe;