@import 'colors.scss';
@import 'fonts.scss';

.publication-form {
    padding: 0px 150px 60px 210px;

    .publication-form__container {
        margin-top: -15px;
        
    }

    .publication-form__row {
        background-color: $white;
        padding: 20px;
    }

    @media screen and (max-width: 1100px) {
        padding: 0px 60px 60px 120px;
    }

    @media screen and (max-width: 991px) {
        padding: 0px 40px 60px 100px;
    }

    @media screen and (max-width: 500px) {
        padding: 0px 15px 60px 75px;
    }
}

.form-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-header__profile {
        display: flex;
        align-items: center;
        padding-right: 15px;
    }

    .form-header__profile-img {
        width: 50px;
        height: 50px;

        img {
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            width: 100%;
        }
    }

    .form-header__profile-name {
        margin-left: 10px;
    }

    .form-header__subtitle {
        color: $dark-grey;
    }

    @media screen and (max-width: 600px) {
        display: block;

        .form-header__calendar, .form-header__profile {
            margin-bottom: 15px;
        }
    }
}

.form-header__date {
    .form-header__calendar {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        cursor: pointer;
        border-left: 1px solid $light-blue;
    }
    
    .form-header__calendar-img {
        display: inline-block;
        padding-left: 20px;
        img {
            width: 20px;
        }
    }
    
    .form-header__calendar-text {
        display: inline-block;
        margin-left: 5px;
        color: $light-blue;
    }
}

.form-footer {
    background-color: $lagoon-dark;
    padding: 15px;
    margin: 15px -20px -20px -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        margin-right: 10px;
    }

    .form-header__date {
        .form-header__calendar {
            border-left: 0;
            margin-right: 15px;
        }

        .form-header__calendar-text {
            color: $white;
        }

        @media screen and (max-width: 1100px) {
            display: inline-block;
            margin-bottom: 15px;

            .form-header__calendar-img {
                padding-left: 0;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        display: block;
    }
}

.form-footer__right-buttons {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1100px) {
        width: 100%;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 500px) {
        display: block;
    }

}

.form-footer__left-buttons {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1100px) {
        width: 100%;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 500px) {
        display: block;

        .btn--outline {
            margin-bottom: 10px;
        }
    }

}

.form-element {
    margin-bottom: 30px;

    label {
        text-transform: uppercase;
        color: $light-blue;
        font-weight: $semibold;
        font-size: 16px;
        display: block;

        img {
            width: 14px;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    input {
        border: none;
        border-bottom: 1px solid $light-blue;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $dark-grey;
      }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $dark-grey;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $dark-grey;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $dark-grey;
    }

    /*Quill editor*/
    .ql-toolbar.ql-snow {
        border: 1px solid $light-blue;
        background-color: $blue-grey-light;
        font-family: $primary-font;
        color: $light-blue;

        .ql-formats {
            color: $light-blue;
        }
    }

    .ql-container.ql-snow {
        border: 1px solid $light-blue;
        height: 100px;
        font-family: $primary-font;
    }

    .upload-img {
        display: inline-block;
        padding: 15px;
        border-right: 1px solid $light-blue;
        border-right-style: dashed;
        background-color: $blue-grey-light;

        img {
            width: 20px;
        }    
    }

    .upload-label {
        display: inline-block;
        padding-left: 15px;

        label {
            display: inline-block;
        }
    }

    .add-ico {
        border-right: 0;
        background-color: $light-blue;

        @media screen and (max-width: 500px) {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
    }

    .container-custom-input, .container-custom-input-radio {
        text-transform: none;
        color: $text-grey;
        font-weight: $regular;
    }
}

.add-dropdown {
    width: 100%;
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    text-align: left;
    margin-bottom: 30px;

    &:focus {
        outline: none;
    }
}

.form-element-dropdown {
    border: 1px solid $light-blue;
    cursor: pointer;
    margin-bottom: 0;
}

.collapse-form {
    border: 1px solid $light-blue;
    border-top: 0;
    padding: 25px 20px;
    margin-top: -30px;
    margin-bottom: 30px;

    .form-element {
        margin-bottom: 20px;

        label {
            font-size: 14px;
            font-weight: $regular;
        }
    }
}

.popover {
    border: none;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); 
    border-radius: 0;
    top: -5px !important;
    left: 5px !important;
}

.border-dashed {
    border: 1px solid $light-blue;
    border-style: dashed;
}

//Styled radio and checked buttons
/* The container */
.container-custom-input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-custom-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid $light-blue;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-custom-input input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-custom-input .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $light-blue;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  hr {
      margin-top: 0px;
      margin-bottom: 10px;
  }

  /*Custom radio buttons*/
  /* The container */
.container-custom-input-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-custom-input-radio {
    text-transform: none;
    color: $text-grey;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $white;
        border-radius: 50%;
      }
      
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the indicator (dot/circle) when checked */
    input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the indicator (dot/circle) */
    .checkmark:after {
        top: 2px;
        left: 2px;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: $light-blue;
      }
}