.publication-form {
  padding: 0px 150px 60px 210px;
}

.publication-form .publication-form__container {
  margin-top: -15px;
}

.publication-form .publication-form__row {
  background-color: #ffffff;
  padding: 20px;
}

@media screen and (max-width: 1100px) {
  .publication-form {
    padding: 0px 60px 60px 120px;
  }
}

@media screen and (max-width: 991px) {
  .publication-form {
    padding: 0px 40px 60px 100px;
  }
}

@media screen and (max-width: 500px) {
  .publication-form {
    padding: 0px 15px 60px 75px;
  }
}

.form-header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-header .form-header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
}

.form-header .form-header__profile-img {
  width: 50px;
  height: 50px;
}

.form-header .form-header__profile-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  width: 100%;
}

.form-header .form-header__profile-name {
  margin-left: 10px;
}

.form-header .form-header__subtitle {
  color: #a2a2a2;
}

@media screen and (max-width: 600px) {
  .form-header {
    display: block;
  }
  .form-header .form-header__calendar, .form-header .form-header__profile {
    margin-bottom: 15px;
  }
}

.form-header__date .form-header__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  border-left: 1px solid #09a8eb;
}

.form-header__date .form-header__calendar-img {
  display: inline-block;
  padding-left: 20px;
}

.form-header__date .form-header__calendar-img img {
  width: 20px;
}

.form-header__date .form-header__calendar-text {
  display: inline-block;
  margin-left: 5px;
  color: #09a8eb;
}

.form-footer {
  background-color: #0087db;
  padding: 15px;
  margin: 15px -20px -20px -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-footer button {
  margin-right: 10px;
}

.form-footer .form-header__date .form-header__calendar {
  border-left: 0;
  margin-right: 15px;
}

.form-footer .form-header__date .form-header__calendar-text {
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .form-footer .form-header__date {
    display: inline-block;
    margin-bottom: 15px;
  }
  .form-footer .form-header__date .form-header__calendar-img {
    padding-left: 0;
  }
}

@media screen and (max-width: 1100px) {
  .form-footer {
    display: block;
  }
}

.form-footer__right-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .form-footer__right-buttons {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .form-footer__right-buttons {
    display: block;
  }
}

.form-footer__left-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .form-footer__left-buttons {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .form-footer__left-buttons {
    display: block;
  }
  .form-footer__left-buttons .btn--outline {
    margin-bottom: 10px;
  }
}

.form-element {
  margin-bottom: 30px;
  /*Quill editor*/
}

.form-element label {
  text-transform: uppercase;
  color: #09a8eb;
  font-weight: 600;
  font-size: 16px;
  display: block;
}

.form-element label img {
  width: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.form-element input {
  border: none;
  border-bottom: 1px solid #09a8eb;
  width: 100%;
}

.form-element input:focus {
  outline: none;
}

.form-element ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a2a2a2;
}

.form-element ::-moz-placeholder {
  /* Firefox 19+ */
  color: #a2a2a2;
}

.form-element :-ms-input-placeholder {
  /* IE 10+ */
  color: #a2a2a2;
}

.form-element :-moz-placeholder {
  /* Firefox 18- */
  color: #a2a2a2;
}

.form-element .ql-toolbar.ql-snow {
  border: 1px solid #09a8eb;
  background-color: #f6fbfe;
  font-family: "Open Sans", sans-serif;
  color: #09a8eb;
}

.form-element .ql-toolbar.ql-snow .ql-formats {
  color: #09a8eb;
}

.form-element .ql-container.ql-snow {
  border: 1px solid #09a8eb;
  height: 100px;
  font-family: "Open Sans", sans-serif;
}

.form-element .upload-img {
  display: inline-block;
  padding: 15px;
  border-right: 1px solid #09a8eb;
  border-right-style: dashed;
  background-color: #f6fbfe;
}

.form-element .upload-img img {
  width: 20px;
}

.form-element .upload-label {
  display: inline-block;
  padding-left: 15px;
}

.form-element .upload-label label {
  display: inline-block;
}

.form-element .add-ico {
  border-right: 0;
  background-color: #09a8eb;
}

@media screen and (max-width: 500px) {
  .form-element .add-ico {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}

.form-element .container-custom-input, .form-element .container-custom-input-radio {
  text-transform: none;
  color: #444444;
  font-weight: 400;
}

.add-dropdown {
  width: 100%;
  display: block;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  text-align: left;
  margin-bottom: 30px;
}

.add-dropdown:focus {
  outline: none;
}

.form-element-dropdown {
  border: 1px solid #09a8eb;
  cursor: pointer;
  margin-bottom: 0;
}

.collapse-form {
  border: 1px solid #09a8eb;
  border-top: 0;
  padding: 25px 20px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.collapse-form .form-element {
  margin-bottom: 20px;
}

.collapse-form .form-element label {
  font-size: 14px;
  font-weight: 400;
}

.popover {
  border: none;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  border-radius: 0;
  top: -5px !important;
  left: 5px !important;
}

.border-dashed {
  border: 1px solid #09a8eb;
  border-style: dashed;
}

/* The container */
.container-custom-input {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-custom-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #09a8eb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-custom-input input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-custom-input .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #09a8eb;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

hr {
  margin-top: 0px;
  margin-bottom: 10px;
}

/*Custom radio buttons*/
/* The container */
.container-custom-input-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-custom-input-radio {
  text-transform: none;
  color: #444444;
  /* Create a custom radio button */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}

.container-custom-input-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-custom-input-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
}

.container-custom-input-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-custom-input-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-custom-input-radio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #09a8eb;
}
/*# sourceMappingURL=form.css.map */