.header-nav {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .header-logo {
  display: inline-block;
  padding: 15px 100px 15px 30px;
}

.header-nav .header-logo img {
  max-width: 170px;
}

@media screen and (max-width: 768px) {
  .header-nav .header-logo {
    display: none;
  }
}

.header-nav .header-logo-mobile {
  display: none;
  padding: 15px 30px 15px 15px;
}

@media screen and (max-width: 768px) {
  .header-nav .header-logo-mobile {
    display: inline-block;
  }
}

.header-nav ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #09a8eb;
  font-weight: 600;
}

.header-nav ::-moz-placeholder {
  /* Firefox 19+ */
  color: #09a8eb;
  font-weight: 600;
}

.header-nav :-ms-input-placeholder {
  /* IE 10+ */
  color: #09a8eb;
  font-weight: 600;
}

.header-nav :-moz-placeholder {
  /* Firefox 18- */
  color: #09a8eb;
  font-weight: 600;
}

.header-nav .header-search input {
  background-image: url("../images/icons/magnifying-glass.svg");
  border: none;
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  padding: 5px 36px;
  font-size: 16px;
}

.header-nav .header-search input:active, .header-nav .header-search input:focus {
  outline: none;
}

.header-nav .header-profile {
  position: absolute;
  right: 0;
}

.header-nav .header-profile .dropdown {
  margin-right: 30px;
  display: inline-block;
}

.header-nav .header-profile .dropdown button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-nav .header-profile .dropdown button:focus {
  outline: none;
}

.header-nav .header-profile .header-profile__img {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.header-nav .header-profile .header-profile__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.header-nav .header-profile .header-profile__notification {
  position: absolute;
  top: 0;
  right: -8px;
  background-color: #ccff00;
  font-size: 10px;
  color: #09a8eb;
  font-weight: 700;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .header-profile .header-profile__name {
  display: inline-block;
  font-weight: 600;
  color: #09a8eb;
}

.header-nav .header-profile .header-profile-arrow {
  display: inline-block;
  margin-left: 5px;
}

.header-nav .header-profile .header-profile-arrow img {
  width: 15px;
}

@media screen and (max-width: 860px) {
  .header-nav .header-profile {
    display: none;
  }
}

.header-nav .mobile-nav {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 15px 30px;
}

.header-nav .mobile-nav img {
  width: 25px;
}

@media screen and (max-width: 860px) {
  .header-nav .mobile-nav {
    display: inline-block;
  }
}

.overlay {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 90;
  display: none;
  height: 100%;
}

@media screen and (min-width: 860px) {
  .overlay {
    display: none !important;
  }
}

.mobile-nav-container {
  position: fixed;
  z-index: 90;
  background-color: #006cb0;
  width: 100%;
  padding: 30px 0px;
  top: 80px;
  display: none;
  -webkit-box-shadow: 0px 0px 7.83px 1.17px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 7.83px 1.17px rgba(0, 0, 0, 0.17);
}

@media screen and (min-width: 860px) {
  .mobile-nav-container {
    display: none !important;
  }
}

.mobile-nav-container .mobile-nav-items {
  list-style-type: none;
  padding-left: 0;
}

.mobile-nav-container .mobile-nav-items li {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 30px;
}

.mobile-nav-container .mobile-nav-items li:hover {
  text-decoration: none;
  background-color: #00629f;
}

.mobile-nav-container .mobile-nav-items a:hover {
  text-decoration: none;
}

.submenu {
  background-color: #09a8eb;
  padding: 100px 150px 80px 210px;
}

.submenu .submenu__container {
  border-bottom: 1px solid #6bcbf3;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 860px) {
  .submenu .submenu__container {
    display: none;
  }
}

.submenu .submenu__items {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 4px;
}

.submenu .submenu__items li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 4px;
}

.submenu .submenu__items li a {
  color: #ffffff;
  position: relative;
}

.submenu .submenu__items li a:hover {
  text-decoration: none;
}

.submenu .submenu__items li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.submenu .submenu__items li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.submenu .submenu__items li img {
  width: 16px;
  margin-right: 15px;
}

@media screen and (max-width: 1100px) {
  .submenu {
    padding: 100px 60px 60px 120px;
  }
}

@media screen and (max-width: 991px) {
  .submenu {
    padding: 100px 40px 60px 100px;
  }
}
/*# sourceMappingURL=header.css.map */