@import 'colors.scss';
@import 'fonts.scss';

.header-nav {
    background-color: $white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;

    .header-logo {
        display: inline-block;
        padding: 15px 100px 15px 30px;

        img {
            max-width: 170px;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .header-logo-mobile {
        display: none;
        padding: 15px 30px 15px 15px;

        @media screen and (max-width: 768px) {
            display: inline-block;
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $light-blue;
        font-weight: $semibold;
      }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $light-blue;
        font-weight: $semibold;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $light-blue;
        font-weight: $semibold;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $light-blue;
        font-weight: $semibold;
    }

    .header-search {
        input {
            background-image: url('../images/icons/magnifying-glass.svg');
            border: none;
            background-size: 16px;
            background-position: 0;
            background-repeat: no-repeat;
            padding: 5px 36px;
            font-size: 16px;

            &:active, &:focus {
                outline: none;
            }
        }
        
    }

    .header-profile {
        position: absolute;
        right: 0;

        .dropdown {
            margin-right: 30px;
            display: inline-block;

            button {
                background: transparent;
                border: none;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }
        }

        .header-profile__img {
            width: 36px;
            height: 36px;
            display: inline-block;
            margin-right: 15px;
            position: relative;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
        }

        .header-profile__notification {
            position: absolute;
            top: 0;
            right: -8px;
            background-color: $green;
            font-size: 10px;
            color: $light-blue;
            font-weight: $bold;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header-profile__name {
            display: inline-block;
            font-weight: $semibold;
            color: $light-blue;
        }

        .header-profile-arrow {
            display: inline-block;
            margin-left: 5px;

            img {
                width: 15px;
            }
        }

        @media screen and (max-width: 860px) {
            display: none;
        }
    }

    .mobile-nav {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        padding: 15px 30px;

        img {
            width: 25px;
        }

        @media screen and (max-width: 860px) {
            display: inline-block;
        }
    }
}

.overlay {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 90;
    display: none;
    height: 100%;

    @media screen and (min-width: 860px) {
        display: none !important;
    }
}

.mobile-nav-container {
    position: fixed;
    z-index: 90;
    background-color: $blue;
    width: 100%;
    padding: 30px 0px;
    top: 80px;
    display: none;
    box-shadow: 0px 0px 7.83px 1.17px rgba(0, 0, 0, 0.17); 

    @media screen and (min-width: 860px) {
        display: none !important;
    }

    .mobile-nav-items {
        list-style-type: none;
        padding-left: 0;

        li {
            color: $white;
            font-size: 16px;
            text-transform: uppercase;
            width: 100%;
            padding: 15px 30px;

            &:hover {
                text-decoration: none;
                background-color: $dark-blue;
            }
        }

        a {
            &:hover {
                text-decoration: none;
            }  
        }
    }
}

.submenu {
    background-color: $light-blue;
    padding: 100px 150px 80px 210px;

    .submenu__container {
        border-bottom: 1px solid $lagoon-blue;
        font-family: $primary-font;
        font-weight: $regular;
        color: $white;
        text-transform: uppercase;
        font-size: 14px;

        @media screen and (max-width: 860px) {
            display: none;
        }
    }

    .submenu__items {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 4px;
        
        li {
            display: inline-block;
            margin-right: 30px;
            margin-bottom: 4px;

            a {
                color: $white;
                position: relative;

                &:hover {
                    text-decoration: none;
                }
            }

            a:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: -10px;
                left: 0;
                background-color: $white;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }
              
            a:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

            img {
                width: 16px;
                margin-right: 15px;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        padding: 100px 60px 60px 120px;
    }

    @media screen and (max-width: 991px) {
        padding: 100px 40px 60px 100px;
    }
}