@import 'colors.scss';
@import 'fonts.scss';

.sidebar {
    padding-top: 80px;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    min-height: 100vh;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    z-index: 80;

    .sidebar__item {
        width: 100%;
        text-align: center;
        padding: 12px 0px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        img {
            width: 22px;
            opacity: 0.5;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            background-color: $dark-blue;

            img {
                opacity: 1;
            }
        }
    }

    a:last-child {
        margin-top: auto;
    }

    .sidebar__profile {
        width: 34px;
        height: 34px;
        margin: 0 auto;
        
        img {
            opacity: 1;
            object-fit: cover;
            object-position: center;
            width: 100%;
            border-radius: 50%;
        }
    }
}
