.sidebar {
  padding-top: 80px;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  min-height: 100vh;
  background-color: #006cb0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 80;
}

.sidebar .sidebar__item {
  width: 100%;
  text-align: center;
  padding: 12px 0px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar .sidebar__item img {
  width: 22px;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar .sidebar__item:hover {
  background-color: #00629f;
}

.sidebar .sidebar__item:hover img {
  opacity: 1;
}

.sidebar a:last-child {
  margin-top: auto;
}

.sidebar .sidebar__profile {
  width: 34px;
  height: 34px;
  margin: 0 auto;
}

.sidebar .sidebar__profile img {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  border-radius: 50%;
}
/*# sourceMappingURL=sidebar.css.map */