@import 'colors.scss';
@import 'fonts.scss';
@import 'sidebar.scss';
@import 'header.scss';
@import 'form.scss';

body {
    background-color: $body-grey;
    font-family: $primary-font;
    font-size: 14px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.btn--outline {
    background: transparent;
    color: $white;
    border: 1px solid $lagoon-blue;
    cursor: pointer;
    padding: 5px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-weight: $regular;

    img {
        width: 20px;
    }

    &:hover {
        border: 1px solid $white;
        background-color: $white;
        color: $lagoon-dark;
    }
}

.btn--white {
    background: $white;
    color: $lagoon-dark;
    border: 1px solid $white;
    cursor: pointer;
    padding: 5px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-weight: $regular;

    &:hover {
        border: 1px solid $white;
        background-color: $lagoon-dark;
        color: $white;
    }
}

.btn--outline-img {
    padding: 4px 5px;
}

.upload-btn {
    background: transparent;
    border: 1px solid $light-blue;
    cursor: pointer;
    text-transform: uppercase;
    color: $light-blue;
    border-style: dashed;
    font-size: 12px;
    padding: 6px 10px;
    margin-bottom: 5px;

    img {
        display: inline-block;
        width: 15px;
        margin-right: 5px;
    }

    &:focus {
        outline: none;
    }
}

